<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{common.menu.contacts}"></title>

    <link th:rel="stylesheet" type="text/css"
          th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{css/product.css}">
</head>
<body>
<header th:insert="common/top-menu.html :: menu"></header>

<ul class="list-unstyled" th:each="department : ${departments}">
    <li class="media my-4">
        <img th:src="${department.image}" class="mr-3" width="150" height="150">
        <div class="media-body">
            <h5 class="mt-0 mb-1" th:text="${department.name}"></h5>
            <p th:text="${department.address}">
            <p>
        </div>
    </li>
</ul>

<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/2.0.2/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}"></script>
</body>
</html>