<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{page.doctor.title}"></title>

    <link th:rel="stylesheet" type="text/css"
          th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{css/product.css}">
</head>
<body>
<header th:insert="common/top-menu.html :: menu"></header>

<div class="row row-cols-1 row-cols-md-4" style="margin-top: 10px; margin-left: 10%; margin-right: 10%">
    <th:block th:each="doctor : ${doctors}">
        <div class="col mb-4">
            <div class="card">
                <img th:src="${doctor.photo}" class="card-img-top" alt="..." width="250" height="250">
                <div class="card-body">
                    <h5 class="card-title" th:text="${doctor.name}"></h5>
                    <p class="card-text" th:text="${doctor.description}"></p>
                </div>
            </div>
        </div>
    </th:block>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/2.0.2/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}"></script>
</body>
</html>